# Configurações do PostgreSQL para Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

# Configurações do PostgreSQL para Health Database
POSTGRES_USER_HEALTH=admin
POSTGRES_PASSWORD_HEALTH=admin

# Chave Fernet para Airflow (gerada automaticamente)
AIRFLOW__CORE__FERNET_KEY=yH6O4qqWUBq2QnW9lal7X_NorONtX7wd-R9ZdKYUjTs=
